/*表單*/
.logo-font{
	font-family: 'Fredoka One', cursive;
	font-size: 30px;
}
.nav-font{
	font-family:"微軟正黑體";
	font-size: 20px;
	font-weight: bold;
	padding-left:20px;
}
.nav-ul{
	position: relative;
	left: 600px;
}
/*about*/
.about-img{
	position: relative;
	top:100px;
	left:200px;
	width: 400px;
	height: 360px;
}
.about-font{
	padding-top: 40px;
}
.about01{
	font-family: "微軟正黑體";
	font-weight: bold;
	font-size: 40px;
}
.about02{
	font-size:20px;
	font-weight: bold;
}
.about-ul-01{
	position: relative;
	left:650px;
	bottom:300px;
}
.about-ul-02{
	list-style: none;
	position: relative;
	left:1000px;
	bottom:580px;
}
.about-icon{
	padding-top: 30px;
}
.about-font-01{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-bottom:50px;
}
.about-font-02{
	font-family: "微軟正黑體";
	text-align: center;
}
.aa{
	font-family: 'Alata', sans-serif;
	font-size: 30px;
	font-weight: bolder;
	color:white;
	padding-top:30px;
}
.bb{
	font-family: Microsoft JhengHei;
	font-size: 20px;
	color:white;
}
/*edu & exp*/
.title{
	font-family:'Alata', sans-serif;
	font-weight: bolder;
	font-size: 40px; 
	color:#02558B;
	text-align: center;
	margin-top:100px;
}
.word{
	color:#02558B;
}
.img{
	width: 300px;
	height: 300px;
	position: relative;
	left: 25px;
}
/*interest*/
.int-title{
	font-family: 'Alata', sans-serif;
	font-size: 40px;
	font-weight: bolder;
	color:#02558B;
	text-align: center;
	margin-top:100px;
}
.int-bg{
	height: 250px;
	background-color: #88BBD6;
	border-radius: 30px;
}
.int-basketball{
	height: 100px;
	width: 100px;
	position:relative;
	top:75px;
	left:150px;
}
.int-globe{
	height: 100px;
	width: 100px;
	position:relative;
	top:75px;
	left:300px;
}
.int-guitar{
	height: 100px;
	width: 100px;
	position: relative;
	top:75px;
	left:450px;
}
.int-movie{
	height: 100px;
	width: 100px;
	position: relative;
	top:75px;
	left:600px;
}
/*goal & wish*/
.goal-title{
	font-family: 'Alata', sans-serif;
	font-size: 40px;
	font-weight: bolder;
	color:#02558B;
	text-align: center;
	margin-top: 100px;
}
.card-header{
	font-family: "微軟正黑體";
	font-size: 30px;
	font-weight: bolder;
}
.card-title{
	font-family: "微軟正黑體";
	font-weight: bold;
}
.card-text{
	font-family: "微軟正黑體";
}
/*my life*/
.mylife-title{
	font-family: 'Alata', sans-serif;
	font-size: 40px;
	font-weight: bolder;
	color:#02558B;
	text-align: center;
	margin-top:100px;
}
.photo01{
	position: absolute;
	margin-top:100px;
	margin-left:200px;
	width:300px;
	height:300px;
	border-radius: 30px;
}
.photo02{
	position:absolute;
	margin-top:450px;
	margin-left: 200px;

	width:300px;
	height:300px;
	border-radius: 30px;
}
.photo03{
	position: absolute;
	margin-top:100px;
	margin-left:580px;

	width:400px;
	height:300px;
	border-radius: 30px;
}
.photo04{
	position: absolute;
	margin-top:450px;
	margin-left:580px;
	width:400px;
	height:300px;
	border-radius: 30px;
}
.photo05{
	width:300px;
	height:300px;
	position: absolute;
	margin-top:100px;
	margin-left:1050px;
	border-radius: 30px;
}
.photo06{
	width:300px;
	height:300px;
	position: absolute;
	margin-top:450px;
	margin-left:1050px;
	border-radius: 30px;
}

/*footer*/
.footer-bg{
	width: 100%;
	background-color: #02558B;
	height: 150px;
	position: absolute;
	margin-top:900px;
}
.footer-word{
	text-align: center;
	color:white;
	margin-top: 50px;
}

