/*特效*/
.demo {
	transition : 0.5s;
}
.demo {
	opacity :1;
}
.demo:hover {
	opacity : 1;
	transform : scale(1.2);
}
.card-transform:hover{/*放大變色*/
	opacity : 1;
	transform : scale(1.1);
	background-color: #88BBD6;
	color:white;
}

/*表單*/
.logo-font{
	font-family: 'Fredoka One', cursive;
	font-size: 30px;
}
.nav-font{
	font-family:"微軟正黑體";
	font-size: 20px;
	font-weight: bold;
	padding-left:20px;
}
.nav-ul{
	position: relative;
	left: 600px;
}

/*表單結束*/
/*about*/
.about-img{
	position: relative;
	top:100px;
	left:200px;
	width: 400px;
	height: 360px;
}
.about-font{
	padding-top: 40px;
}
.about01{
	font-family: "微軟正黑體";
	font-weight: bold;
	font-size: 40px;
}
.about02{
	font-size:20px;
	font-weight: bold;
}
.about-ul-01{
	position: relative;
	left:650px;
	bottom:300px;
}
.about-ul-02{
	list-style: none;
	position: relative;
	left:1000px;
	bottom:580px;
}
.about-icon{
	padding-top: 30px;
}
.about-font-01{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-bottom:50px;
}
.about-font-02{
	font-family: "微軟正黑體";
	text-align: center;
}
.aa{
	font-family: 'Alata', sans-serif;
	font-size: 30px;
	font-weight: bolder;
	color:white;
	padding-top:30px;
}
.bb{
	font-family: Microsoft JhengHei;
	font-size: 20px;
	color:white;
}
/*about結束*/
/*school*/
.s-p{ 
	width: 100%;
	height:auto;
	background-color:*#FFFFFF;
	float:left;
	position: relative;
	z-index:-2;

}
.s-timeline{
	width: 100%;
	height: auto;
	margin:0 auto;
	font-size: 0;
	margin-top: 50px;

	columns: 3; column-rule: #CDCDCD solid 1px;
	column-width:500px;
	width: 100%;
	column-gap:35px;

}
.s-box{
	width: 90%;
	height: 600px;
	display: inline-block;
	color: #5a7169;
}
/*左邊介紹*/
.s-word{
	padding: 40px 0px;
	text-align: right;
}
.sw1{
	font-family:'Alata', sans-serif;
	font-size: 35px;
	font-weight: bolder;
	color:#02558B ;
}

.s-word2{
	padding: 40px 0px;
	float: right;
	font-family: 微軟正黑體;
}
.sw-aa{
	font-size: 25px;
	margin-top:30px;
	color:#02558B ; 
}
.sw-bb{
	font-size: 20px;
	color:#02558B;
}

.D{
	width:6px;
	height:6px;
	border-radius:100%;
	position: absolute;
	margin-left: -20px;
	background-color:#CDCDCD;
}
.D1{
	margin-top:155px;
}
.D2{
	margin-top:270px;
}
.D3{
	margin-top:385px;
}
.D4{
	margin-top:500px;
}
/*school end*/
/*interest strat*/
.int-bg{
	background-color: #88BBD6;
	margin-top:800px;
	height: 300px;
	width: 100%;
	border-radius: 30px;
}
.int-word{
	font-family: 'Alata', sans-serif;
	font-size: 40px;
	font-weight: bolder;
	color:#02558B;
	position: absolute;
	margin-top: -50px;
	margin-left: 20px;
}
.int-basketball{
	width: 100px;
	height: 100px;
	position: absolute;
	margin-top: 100px;
	margin-left:150px;
}
.int-globe{
	width: 100px;
	height: 100px;
	position: absolute;
	margin-top: 100px;
	margin-left:400px;
}
.int-guitar{
	width: 100px;
	height: 100px;
	position: absolute;
	margin-top: 100px;
	margin-left:650px;
}
.int-movie{
	width: 100px;
	height: 100px;
	position: absolute;
	margin-top: 100px;
	margin-left:900px;
}
/*interest end*/
/*goal&wish strat*/
.goal-title{
	font-family: 'Alata', sans-serif;
	font-size: 40px;
	font-weight: bolder;
	color:#02558B;
	position: absolute;
	margin-top: 150px;
	margin-left:220px;
}
.card01{
	position: absolute;
	margin-top:250px;
	left:280px;
}
.card02{
	position: absolute;
	margin-top: 250px;
	left:600px;
}
.card03{
	position: absolute;
	margin-top: 250px;
	left:920px;
}
.card-bg{
	background-color: #88BBD6; 
}
.card-word{
	font-family: "微軟正黑體";
}
/*goal & wish end*/
/*my life*/
.mylife-title{
	font-family: 'Alata', sans-serif;
	font-size: 40px;
	font-weight: bolder;
	color:#02558B;
	position: absolute;
	margin-top:700px;
	margin-left:700px;
}
.photo01{
	width:300px;
	height:300px;
	position: absolute;
	margin-top:800px;
	margin-left:180px;
	border-radius: 30px;
}
.photo02{
	width:300px;
	height:300px;
	position: absolute;
	margin-top:1150px;
	margin-left:180px;
	border-radius: 30px;
}
.photo03{
	width:400px;
	height:300px;
	position: absolute;
	margin-top:800px;
	margin-left:580px;
	border-radius: 30px;
}
.photo04{
	width:400px;
	height:300px;
	position: absolute;
	margin-top:1150px;
	margin-left:580px;
	border-radius: 30px;
}
.photo05{
	width:300px;
	height:300px;
	position: absolute;
	margin-top:800px;
	margin-left:1050px;
	border-radius: 30px;
}
.photo06{
	width:300px;
	height:300px;
	position: absolute;
	margin-top:1150px;
	margin-left:1050px;
	border-radius: 30px;
}
/*my life end*/
.footer-bg{
	background-color: #02558B;
	height: 150px;
	position: absolute;
	margin-top: 1700px;
}
.footer-word{
	text-align: center;
	color:white;
	margin-top: 50px;
}
/*footer end*/
/*go top*/